@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.9850 0.0010 106.4230);
	--foreground: oklch(0.1450 0.0030 106.4230);
	--card: oklch(0.9700 0.0010 106.4240);
	--card-foreground: oklch(0.1450 0.0030 106.4230);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.1450 0.0030 106.4230);
	--primary: oklch(0.5500 0.2200 20);
	--primary-foreground: oklch(0.9850 0.0010 106.4230);
	--secondary: oklch(0.5000 0.1500 140);
	--secondary-foreground: oklch(0.9850 0.0010 106.4230);
	--muted: oklch(0.9700 0 0);
	--muted-foreground: oklch(0.4440 0.0110 73.6390);
	--accent: oklch(0.9000 0.0500 120);
	--accent-foreground: oklch(0.2000 0.0500 120);
	--destructive: oklch(0.5770 0.2450 27.3250);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9230 0.0030 48.7170);
	--input: oklch(0.9700 0.0010 106.4240);
	--ring: oklch(0.5500 0.2200 20);
	--chart-1: oklch(0.8100 0.1000 252);
	--chart-2: oklch(0.6200 0.1900 260);
	--chart-3: oklch(0.5500 0.2200 263);
	--chart-4: oklch(0.4900 0.2200 264);
	--chart-5: oklch(0.4200 0.1800 266);
	--sidebar: oklch(0.5000 0.1500 140);
	--sidebar-foreground: oklch(0.9850 0.0010 106.4230);
	--sidebar-primary: oklch(0.5500 0.2200 20);
	--sidebar-primary-foreground: oklch(0.9850 0.0010 106.4230);
	--sidebar-accent: oklch(0.9000 0.0500 120);
	--sidebar-accent-foreground: oklch(0.2000 0.0500 120);
	--sidebar-border: oklch(0.9220 0 0);
	--sidebar-ring: oklch(0.5500 0.2200 20);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Roboto Mono, ui-monospace, monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0.025em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1200 0.0100 140);
	--foreground: oklch(0.9850 0.0010 106.4230);
	--card: oklch(0.1200 0.0100 140);
	--card-foreground: oklch(0.9010 0.0760 70.6970);
	--popover: oklch(0.2690 0 0);
	--popover-foreground: oklch(0.9850 0 0);
	--primary: oklch(0.5500 0.2200 20);
	--primary-foreground: oklch(0.9850 0.0010 106.4230);
	--secondary: oklch(0.3930 0.0950 152.5350);
	--secondary-foreground: oklch(0.9010 0.0760 70.6970);
	--muted: oklch(0.2680 0.0070 34.2980);
	--muted-foreground: oklch(0.9010 0.0760 70.6970);
	--accent: oklch(0.2000 0.0500 120);
	--accent-foreground: oklch(0.9000 0.0500 120);
	--destructive: oklch(0.7040 0.1910 22.2160);
	--destructive-foreground: oklch(0.9850 0 0);
	--border: oklch(0.2680 0.0070 34.2980);
	--input: oklch(0.3740 0.0100 67.5580);
	--ring: oklch(0.5500 0.2200 20);
	--chart-1: oklch(0.8100 0.1000 252);
	--chart-2: oklch(0.6200 0.1900 260);
	--chart-3: oklch(0.5500 0.2200 263);
	--chart-4: oklch(0.4900 0.2200 264);
	--chart-5: oklch(0.4200 0.1800 266);
	--sidebar: oklch(0.1800 0.0200 140);
	--sidebar-foreground: oklch(0.9850 0.0010 106.4230);
	--sidebar-primary: oklch(0.5500 0.2200 20);
	--sidebar-primary-foreground: oklch(0.9850 0.0010 106.4230);
	--sidebar-accent: oklch(0.2000 0.0500 120);
	--sidebar-accent-foreground: oklch(0.9000 0.0500 120);
	--sidebar-border: oklch(0.2750 0 0);
	--sidebar-ring: oklch(0.5500 0.2200 20);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Roboto Mono, ui-monospace, monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: oklch(0.266 0.079 36.259);
	--shadow-2xs: 0 1px 3px 0px hsl(12.8833 84.8059% 14.4170% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(12.8833 84.8059% 14.4170% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(12.8833 84.8059% 14.4170% / 0.10), 0 1px 2px -1px hsl(12.8833 84.8059% 14.4170% / 0.10);
	--shadow: 0 1px 3px 0px hsl(12.8833 84.8059% 14.4170% / 0.10), 0 1px 2px -1px hsl(12.8833 84.8059% 14.4170% / 0.10);
	--shadow-md: 0 1px 3px 0px hsl(12.8833 84.8059% 14.4170% / 0.10), 0 2px 4px -1px hsl(12.8833 84.8059% 14.4170% / 0.10);
	--shadow-lg: 0 1px 3px 0px hsl(12.8833 84.8059% 14.4170% / 0.10), 0 4px 6px -1px hsl(12.8833 84.8059% 14.4170% / 0.10);
	--shadow-xl: 0 1px 3px 0px hsl(12.8833 84.8059% 14.4170% / 0.10), 0 8px 10px -1px hsl(12.8833 84.8059% 14.4170% / 0.10);
	--shadow-2xl: 0 1px 3px 0px hsl(12.8833 84.8059% 14.4170% / 0.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}
